body {
	margin:0; padding:0;
	font:12px sans-serif;
	color: #000000;
	background: #ffffff;
	padding-top: 15px;
}

h1 {
	background-color: #8080FF;
	color: #ffffff;
}

h3 {
	margin-left: 15px;
	background-color: #8080FF;
	color: #ffffff;
}

table {
    border-collapse: collapse;
    width: 100%;
    font:12px sans-serif;
}

table, th, td {
    border: 1px solid #000;
    padding: 5px;
}

table th {
	background-color: #72cc72;
	color: #ffffff;
    font-weight: bold;
}

table.rowedtable td:first-child {
    text-align: center;
}

#content {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
	padding: 5px;
}

.code {
	background-color: #C0C0C0;
	border: 1px solid;
	margin-right: 15px;
	padding: 5px;
} 

.cleaner {
	clear:both;
	height:0px;
	font-size:1px;

	margin:0; padding:0;
	background:transparent;
	}

.imgleft {
	clear: left;
	float: left;
	margin-bottom: 1em;
	margin-right: 1em;
}

.warning {
	min-height: 92px;
	background-color: #FFEEEE;
	border: 1px solid;
	margin-left: 50px;
	margin-right: 50px;
	padding: 5px;
    background-image: url("img/dialog-warning.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 92px;
}

.suggestion {
	min-height: 104px;
	background-color: #F8FFBB;
	border: 1px solid;
	padding: 5px;
    background-image: url("img/idea.png");
    background-position: left 10px center;
    background-repeat: no-repeat;
    padding-left: 92px;
}

.work {
	min-height: 66px;
	border: 1px solid;
	padding: 5px;
    background-image: url("img/work.png");
    background-position: left 10px center;
    background-repeat: no-repeat;
    padding-left: 92px;
}
